<!DOCTYPE html>
<html>
    <head>
        <title>Super Market El Bahrin| Checkout</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="./checkout.css">
    </head>
    <body>
		<% if(orders == null){ %>
		<div class="container container-flex">	
			<h1>
			<img class="logo" src="https://live.staticflickr.com/65535/51395534094_7c56d0e187_b.jpg" width="1024" height="729" alt="red blue">
				There Is Nothing In The Cart
			</h1>
			<a class="btn btn-primary" href="/categories">Keep Shopping...</a>
		</div>
		<% } else { %>
        <h1 style="text-align: center;">Checkout</h1>
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Varaity</th>
                <th scope="col">Size</th>
                <th scope="col">Quantaty</th>
              </tr>
            </thead>
            <tbody>
		<% for(var i = 0; i < orders.cart.length; i++){ %>
			<tr>
                <th class="flex" style="padding: 0;" scope="row">
                  <button class="remove"><img src="negative.png"></button>
                  <button class="add"><img src="plus.png"></button>
                </th>
                <td><%= orders.cart[i].name %></td>
                <td><%= orders.cart[i].varaity %></td>
                <td class="size"><%= orders.cart[i].size %></td>
                <td class="quantaty"><%= orders.cart[i].quantaty %></td>
              </tr>
		<% } %>
              <tr>
                <th scope="row">Total Price: </th>
                <td class="total" colspan="2" style="text-align: center;"></td>
              </tr>
            </tbody>
          </table>
          <a href="/checkout/<%= orders._id %>" class="btn btn-success" style="width: 100vw;" onClick="success()">Checkout</a>
<a href="/categories" class="btn btn-outline-primary" style="width: 100vw;">Continue Shopping</a>
		<script src="./checkout.js"></script>
		<% } %>
    </body>
</html>