<!DOCTYPE html>
<html>
    <head>
        <title>سوبر ماركت البحرين| الطلبية</title>
    </head>
	<body>
		<style>
			header {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.orders {
    width: 80vw;
    height: max-content;
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    margin: 25px;
}

img {
    width: 150px;
    height: 150px;
}

button {
    width: 100vw
}

.btn {
	width: 100%;
	
}
	
.btn-img {
    width: 50px;
    height: 50px;
}
		</style>
		<header><%= cart.unit %></header>
        <div class="orders">
			<% for(var i = 0; i < cart.order.length; i++){%>
            <div class="order">
                <%= cart.order[i].quantaty %>	<img src=<%= cart.order[i].image %>>	<%= cart.order[i].size %>$
            </div>
        </div>
		<% } %>
		<a href="/map/<%= cart._id %>"><button class="btn btn-success block"><img class="btn-img" src="https://www.freeiconspng.com/thumbs/details-icon/details-icon-png-cc-by-3-0--it-1.png"></button></a>
    </body>
</html>